### DataFrames

Você pode ter problemas se pensar que um data frame é "row-oriented". DataFrames são utilizados para operações analíticas e são melhores compreendidos quando pensados como "column-oriented", onde cada coluna é uma série Pandas.

In [2]:
import pandas as pd
df = pd.DataFrame({
    'growth': [0.5, 0.7, 1.2],
    'name': ['Paul', 'George', 'Ringo']
})
# Mostra df
df

   growth    name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

#### Acessando uma linha utilizando index

In [4]:
df.iloc[1]

growth       0.7
name      George
Name: 1, dtype: object

#### Acessando colunas pelo nome

In [6]:
df['name']

0      Paul
1    George
2     Ringo
Name: name, dtype: object

In [ ]:
# O type de uma coluna é do tipo panda Series. Qualquer operação que pode ser realizada em uma série pode ser aplicada em uma coluna